.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background-color: rgba(200,0,100,0.5);

}
.big_snake {
  background-image: url("snake.jpg");
  background-repeat: repeat;
}

.login_block{
  border: 1px dotted black;
  text-align: right;
  padding: 0 20px 0 0;
}
.statistics {
  border: 1px dotted black;
  padding: 0px 30% 0px 0px;
  text-align: right;
}
.avatar p{


   border: 1px dotted black;
   width: 100px;
   height: 100px
   float: left;
}
.hisses{

   border: 1px dotted black;
   width: 400x;
   float: left;
   margin-right: 200px;
}
