
<!DOCTYPE html>
<html>
<head>
	<h3>Register With Hisser </h3>
</head>
<body>

	<div class="first_name">
		<form action= "/snake_hatcht" method = "post">
			First Name:<input type="text" name="first_name"><br>
			Last Name: <input type="text" name="last_name"><br>
			Email: <input type="text" name="email"><br>
			<br>
			<p>Choose A User Name and Password </p>
			User Name:<input type="text" name="snake_name"><br>
			Password: <input type="password" name="password"><br>
			<input type= "submit" value ="Sumbit">
		</div>
		</form>


	</body>

	</html>