<!DOCTYPE html>
<html>
<head>
	<title>Hisser</title>
</head>
<body class="big_snake">

	<div class="container">
		<div class ="welcome">
			<p>Hisser Login Page</p>
		</div>

		<div class ="user_login">
			<form action = "/check" method = "get">
				User Name:<input type="text" name="name"><br>
				Password: <input type="password" name="user_pwd"><br>
				<input type= "submit" value ="Login" id="login_submit">
			</form>
		</div>
		<br>
		<br>


		<div class="new_user_txt">
			New User
		</div>

		<div class ="new_account">
			<form action = "/snake_hatch" method = "get">
				<input type= "submit" value ="Register" id="register_submit">
			</form>
		</div>

	</div>

</body>

