
<!DOCTYPE html>
<html>
<head>
	<title>Hisser</title>
</head>
<body>

	<div class ="welcome">
		Hisser Login Page
	</div>
	<br>

	<div class ="user_login">
		<form action = "/:user_id" method = "get">
			User Name:<input type="text" name="user_name"><br>
			Password: <input type="password" name="user_pwd"><br>
			<input type= "submit" value ="Login">
		</form>
	</div>
	<br>
	<br>


	<div class="new_user_txt">
		New User
	</div>

	<div class ="new_account">
		<form action = "/snake_hatch" method = "get">

			<input type= "submit" value ="Register">
		</form>
	</div>


</body>

