<div class = "login_block">
Welcome
<% user= User.find(session[:user_id]) %>
<%= user.snake_name  %>

<a href="http://localhost:9393/?"> Log out </a>

<div class = "statistics">
  <p> Followers <%= user.relationships.pluck(:following_id).count  %>
    You Follow <%= Relationship.where(person_id: user.id).count  %>
  </p>
</div>
