<div class = "login_block">
Welcome
<% user= User.find(session[:user_id]) %>
<%= user.snake_name  %>
<a href=""> Log out </a>
</div>
<div class = "statistics">
  <p> Followers <%= user.relationships.pluck(:followed_id).count  %>
    You Follow <%= Relationship.where(follower_id: user.id).count  %>
  </p>
</div>
